- players.matches.each do |player|
  %tr
    %td.text-center{class: player.place.abs == 1 ? 'font-weight-bold' : ''}= place(player.place)
    %td.text-center= player.score
    %td= render "players", players: player.game.players.where.not(user_id: player.user_id)
    %td.text-center= link_to_if can?(:show, Game), time_ago(player.game.updated_at), game_path(player.game)
= render "utils/pagination/links", pager: players, columns: 4
