- set_meta_tags title: t("game.scores")

.row
  %div{class: Sni::Center.call(xl: 8, md: 10)}
    %section
      .header
        .row.mb-2.mt-1
          %div{class: Sni::Layout.call(xs: [4], md: [3], xl: [2]).first}
            = select_tag :user_id, user_menu(@user.id), class: "form-select", "data-controller" => "choose-user", "data-action" => "choose-user#go"
        .row
          .text-center
            %span.faded
              = succeed(":") do
                = @user.name
              = succeed(@total == 0 ? "" : ",") do
                = t("game.total", count: @total)
              - unless @total == 0
                = t("game.first", count: @first)
      .body{"data-turbo" => "true"}
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th.text-center= t("game.place")
                %th.text-center= t("game.score")
                %th= t("game.opponents")
                %th.text-center= t("game.ended")
            %tbody
              = render "scores", players: @players
