- set_meta_tags title: t("game.scores")

= content_for :javascript do
  = render "choose.js"

.row
  %div{class: center(xl: 8, md: 10)}
    %section
      .header.text-center
        = select_tag :user_id, user_menu(@user.id), class: "mr-2 auto-submit"
        %span.faded
          = @user.name
          = "#{@first}/#{@games}"
      .body
        - if @players.matches.empty?
          %p.text-center= "No games finished yet."
        - else
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th.text-center= t("game.place")
                %th.text-center= t("game.score")
                %th= t("game.opponents")
                %th.text-center= t("game.ended")
            %tbody#results
              = render "scores", players: @players
