- set_meta_tags title: t("game.scores")

- if @players.matches.empty?
  %p.faded.text-center
    = "No games finished yet. Start a"
    = succeed("?") do
      = link_to t("game.new"), new_game_path
- else
  .row
    %div{class: center(xl: 8, md: 10)}
      %section
        .header.text-center
          %h3= @user.handle
          %span.faded= @user.name
        .body
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th.text-center= t("game.place")
                %th.text-center= t("game.score")
                %th= t("game.opponents")
                %th.text-center= t("game.ended")
            %tbody#results
              = render "scores", players: @players
