- set_meta_tags title: t("play.play")

= content_for :javascript do
  = render "play.js"

#elm-main

%p= current_user.name
%p= link_to t("session.sign_out"), session_path, method: "delete", class: "btn btn-danger btn-sm"
- if can?(:index, User)
  %p= link_to t("user.users"), users_path, class: "btn btn-primary btn-sm"

- if current_user.admin?
  #responses
