- games.matches.each do |game|
  %tr
    %td
      = game.players.map { |p| p.user.handle }.join(", ")
      - unless game.players.count == game.participants
        = "(#{game.players.count}/#{game.participants})"
    %td= link_to game.state, game
    %td= link_to game.user.handle, scores_user_path(game.user)
    %td= time_ago(game.created_at)
= render "utils/pagination/links", pager: games, columns: 4
