:ruby
  inputs = [
    # [:query,     t("query"),          :text,   size: 16, placeholder: %w/title author note/.map{|i| t("book.#{i}")}.join("/")],
    # [:year,      t("book.year"),      :text,   size: 6],
    # [:borrowers, t("book.borrowers"), :text,   size: 10],
    [:user_id,  t("game.started_by"),  :select, menu: game_started_by_menu(params[:user_id])],
    # [:medium,    t("book.medium"),    :select, menu: book_medium_menu(params[:medium], search: true)],
    # [:order,     t("order"),          :select, menu: book_order_menu(params[:order])],
  ]
  set_meta_tags title: t("game.search")

= render "utils/search/form", index: games_path, inputs: inputs, button: true

.row
  %div{class: center(xl: 6, lg: 8, md: 10)}
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("game.players")
          %th= t("game.state")
          %th= t("game.started_by")
          %th= t("game.started_at")
      %tbody#results
        = render "results", games: @games
