:ruby
  inputs = [
    [:user_id, t("game.started_by"), :select, menu: game_started_by_menu(params[:user_id])],
  ]
  set_meta_tags title: t("game.search")

= render "utils/search/form", index: games_path, inputs: inputs, button: true

.row
  %div{class: center(xl: 6, lg: 8, md: 10)}
    %table{class: "table table-bordered table-sm mt-3"}
      %thead
        %tr
          %th= t("game.players")
          %th= t("game.state")
          %th.text-center= t("game.upto")
          %th.text-center= t("game.short.peek")
          %th.text-center= t("game.short.four")
          %th= t("game.started_by")
          %th= t("game.started_at")
      %tbody#results
        = render "results", games: @games
