- set_meta_tags title: t("game.game_id", id: @game.id)

.row
  %div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
    %table{class: "table table-bordered table-sm mt-3"}
      %thead
        %tr
          %th.text-center{colspan: 2}= t("game.game_id", id: @game.id)
      %tbody
        %tr
          %td= t("game.started_at")
          %td= @game.created_at.strftime("%Y-%m-%d %H:%M:%S")
        %tr
          %td= t("game.started_by")
          %td= @game.user.handle
        %tr
          %td= t("game.state")
          %td= @game.state
        %tr
          %td= t("game.participants")
          %td= "%d/%d" % [@game.players.count, @game.participants]
        - @game.players.each do |player|
          %tr
            %td= t("game.player")
            %td= "%d %s %d/%d %d" % [player.id, player.user.handle, player.score, player.pscore, player.place]
        %tr
          %td= t("game.upto")
          %td= @game.upto
        %tr
          %td= t("game.dealt")
          %td= @game.total_dealt
        %tr
          %td= t("game.messages")
          %td= @game.messages.count
        %tr
          %td= t("game.votes")
          %td= @game.votes
        %tr
          %td= t("game.debug")
          %td= @game.debug
        %tr
          %td.text-center{colspan: 2}
            = link_to t("game.play"), play_game_path(@game), class: "btn btn-success btn-sm"
            = link_to t("game.delete"), @game, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: t("sure") }

.row
  %div{class: center(xl: 8, md: 10)}
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th.text-center{colspan: 5}= t("game.messages")
        %tr
          %th= t("id")
          %th.text-center= t("created")
          %th= t("message.target")
          %th.text-center= t("message.only_start")
          %th= t("data")
      %tbody
        - @game.messages.each do |m|
          %tr
            %td= m.id
            %td.text-center= m.created_at.strftime("%H:%M:%S")
            %td= m.target
            %td.text-center= m.only_start ? "T" : "F"
            %td= m.json
